header {
  background-color: rgb(247, 243, 243);
}

.header__title {
    font-family: 'Silkscreen', cursive;
    font-size: 37px;
}

.header__layout {
  padding: 20px 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(min-width: 1600px ) {
  .header__layout {
    justify-content: space-evenly;
  }
}

.header__nav {
  display: flex;
  gap: 15px;
}

@media(min-width: 1600px ) {
  .header__nav {
    margin: 0 auto;
    gap: 75px;
  }
}

