@{
  Layout = "_Layout";
}

<div class="home">
  <h2>Mega Management Est 1973</h2>
  <br>
  <h4>Managing your engineers and their talents has never been so easy.</h4>
  <br>
  <h4>Pair your engineers with their licenses/certifications in two easy steps!<h4>
</div>
